@model Cricket.Models.Cricketer

@{
    ViewData["Title"] = "Details";
}

<h1>Cricketer</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CricketerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CricketerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalODI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalODI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fifties)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fifties)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hundreds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hundreds)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
